body {
    background: linear-gradient(to bottom left, #003366 0%, #660066 100%);
}


/* Rectangle 4 */

.glass {
    position: absolute;
    width: 1270px;
    height: 638px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5), inset 0px 7px 11px -4px #FFFFFF, inset 0px 4px 18px rgba(154, 146, 2, 0.3), inset 0px -82px 68px -64px rgba(96, 68, 144, 0.3), inset 0px 98px 100px -48px rgba(202, 172, 255, 0.3), inset 0px 1px 0px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 124px;
    z-index: 2;
    top: 200px;
    left: 300px;
}


/* Ellipse 1 */

.elips1 {
    position: absolute;
    width: 294px;
    height: 294px;
    background: linear-gradient(180deg, #B919DF 0%, #1529E3 100%);
    border-radius: 50%;
    top: 650px;
    left: 250px;
}


/* Ellipse 2 */

.elips2 {
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(180deg, #B919DF 0%, #1529E3 100%);
    border-radius: 50%;
    top: 100px;
    left: 1300px;
    ;
}


/* Ellipse 3 */

.elips3 {
    position: absolute;
    width: 650px;
    height: 650px;
    background: linear-gradient(180deg, #B919DF 0%, #1529E3 100%);
    border-radius: 50%;
    top: -100px;
    left: -300px;
    ;
}